ion-title {
  --color: #f10b0b;
  --position: sticky;
  --padding-bottom: 10px;
  --height: 55px;
  --left: 0;
  --top: 0;
  --right: 0;
  --margin-bottom: 30px;
  --display: flex;
  --justify-content: center;
  --align-items: center;
  --text-transform: capitalize;
  --font-size: 40px;
  --font-weight: bold;
}

ion-header {
--padding-bottom: 15px;
}