<ion-header class="header">
  <div class="parent">
  <ion-grid class="login" routerLink="/login">
    <ion-row *ngIf="authService.loginStatus==0" style="padding-left: 37px;" >
      <ion-icon name="person-outline" routerLink="/login"></ion-icon>
    </ion-row>
    <ion-row *ngIf="authService.loginStatus==1" style="padding-left: 45px;">
      <ion-icon name="person-outline" routerLink="/login"></ion-icon>
    </ion-row>
    <ion-row>
      <ion-title *ngIf="authService.loginStatus==0" routerLink="/login">Login</ion-title>
      <ion-title *ngIf="authService.loginStatus==1" (click)="logout()">Logout</ion-title>
    </ion-row>
  </ion-grid>
  <a class="center">SpaceInVRs</a>
  <div class="right"></div>
</div>
</ion-header>