.parent{
  display:flex;
}

.login{
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  align-items: center;
  justify-content: center;
  flex: 1;

}
.right{
  flex: 1;

}

.center{
  justify-content: center;
  align-content: center;
  align-items: center;
  color:#ffffff;
  font-size: 40px;
}

.header{
  color:#4E0000;
  background:#4E0000;

}

ion-row {
  align-items: left;
  justify-content: left;
}

ion-title {
  --text-transform: capitalize;
  --font-size: 40px;
  --font-weight: bold;
}

ion-header {
  --padding-bottom: 15px;
  --top: 0;
  --color: #4E0000;
  --background: #4E0000;
  --position: sticky;
  z-index: 1;
}

