.login{
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  align-items: center;
  justify-content: center;
}

.header{
  color:#4E0000;
  background:#4E0000;

}

ion-row {
  display: flex;
  align-items: center;
  justify-content: center;
}

ion-title {
  --text-transform: capitalize;
  --font-size: 40px;
  --font-weight: bold;
}

ion-header {
  --padding-bottom: 15px;
  --top: 0;
  --color: #4E0000;
  --background: #4E0000;
  --position: sticky;
  z-index: 1;
}
