<!--
More complex example demonstrating advanced features like
- using custom server script to fetch remote data
- using custom modules in safe sandbox
- painting a chart
- using global helpers
- merging custom dynamic header document

Note: This example requires jsreport to be configured with
{ "trustUserCode": true } or
{ "sandbox": { "allowedModules": ["https"] } }
!-->
<html>
  <head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/metro/4.1.5/css/metro.min.css">
    <script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js'></script>
  </head>
  <body>
    {{#each orders}}
        <table class='table striped'>
            <thead>
                <tr>
                    <th>UserID</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Register Date</th>
                </tr>
            </thead>
            <tbody>
                {{#each rows}}
                <tr>
                    <td>{{OrderID}}</td>
                    <td>{{ShipAddress}}</td>
                    <td>{{ShipCity}}</td>
                    <td>{{ShipCountry}}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    {{/each}}
  </body>
</html>
