ion-text h1 {
  color:#ffffff;
  // font-size:larger;
}

ion-card {
  border-radius: 16px;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  background-color: #000000;
  max-width: 400px;
  max-height: 900px;
  justify-content: center;
  margin: auto;
}

ion-card-header {
  display: flex;
}

ion-card-title {
  color:#ffffff;
  // display: flex;
  // align-content: center;
  margin-bottom: 10%;
  margin-top: 10%;
  text-transform: capitalize;
}
ion-card-content .chart{
  background-color: #2E2E33;
  border-radius: 16px;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  padding: 3%;
}

ion-button {
  // size: 1;
  --background: #960000;
  white-space: unset;
  margin-top: 15%;
  
  
  text-transform: capitalize;
  max-width: 400px;
  max-height: 900px;
}


.userinfo {
  // display: inline-grid;
  flex-grow: 1;
  text-align: center;
  margin: 1%; // align-content: center;
  margin-left: 7%;
}


.image {
  width: 150px;
  height: 150px;
  display: inline-block;
  // border: 1px solid;
  background: #14181F;
}

.modalimage {
  flex-grow: 1;
  margin: 0%;
}

ion-col{
  text-align: center;
}



ion-modal {
  --height: 55%;
  --width: 75%;
  --border-radius: 16px;
  --box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

ion-modal ion-button {
  // size: 1;
  --background: #960000;
  // white-space: unset;
  // margin: 5%;
  // font-size: 3vw;
  // text-transform: capitalize;
  max-width: 400px;
  max-height: 900px;
}

ion-modal::part(backdrop) {
  background: rgb(0, 0, 0);
  opacity: 1;
}

ion-modal ion-toolbar {
  --background: #960000;
  --color: white;
}

ion-content ion-modal {
  --background: #960000;
  --color: #960000;
}

ion-modal ion-content {
  --background: #960000;
  --color: #960000;
  --ion-item-background: auto;
  display: flex;
}

.modalsubmit {
  margin: 2%;
  display: flex;
  align-items: center;
}

.modalbutton {
  max-width: 2cm;
  font-size: 3vw;
  color: white;
  background-color: black;
  flex-grow: 1;
  align-self: center;
  margin: 0%; // align-content: center;
  margin-bottom: 5%;
  // margin-inline: 15%;
  // margin-left: 2%;
  // margin-right: 2%;
  // margin-left: 10%;
  padding: 0%;
  // margin-left: 15%;
  // margin-right: 15%;
  max-width: 400px;
  max-height: 900px;
}

.modalsubmitbutton {
  font-size: 4vw;
  color: white;
  background-color: black;
  flex-grow: 1;
  align-self: center;
  margin: 1%; // align-content: center;
  max-width: 400px;
  max-height: 900px;
}


a {
  color: rgb(0, 12, 141);
}

.error {
  color: red;
  --margin-bottom: 25px;
}

form ion-content {
  --color: rgb(255, 255, 255);
  --padding-top: 100px;
}

form ion-item {
  --background: #ffffff;
  --color: rgb(0, 0, 0);
  padding-bottom: 25px;
  padding-left: 10%;
  padding-right: 10%;
}

.lastitem{
  padding-bottom: unset;
}