ion-card-header {
  display: flex;
}

ion-card-title {
  // display: flex;
  // align-content: center;
  margin-bottom: 10%;
  margin-top:10%;
  text-transform: capitalize;
}

ion-button {
  // size: 1;
  --background: #960000;
  white-space: unset;
  margin-top: 15%;
  font-size: 3vw;
  text-transform: capitalize;
}


.userinfo {
  // display: inline-grid;
  flex-grow: 1;
  text-align: center;
  margin: 1%; // align-content: center;
  margin-left: 7%;
}


.image {
  width: 150px;
  height: 150px;
  display: inline-block;
  border: 1px solid;
}

ion-modal {
  --height: 50%;
  --border-radius: 16px;
  --box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

.contentmodal{
  // --background: #960000;
  // --color: #960000;
}

ion-modal::part(backdrop) {
  background: rgb(0, 0, 0);
  opacity: 1;
}

ion-modal ion-toolbar {
  --background: #960000;
  --color: white;
}

ion-content ion-modal {
  --background: #960000;
  --color: #960000;
}

ion-modal ion-content{
  --background: #960000;
  --color: #960000;
}