<div class="item">
  <ion-card *ngIf="user">
    <ion-card-header>

      <img class="image" src="http://localhost:4000/images/{{user.profile_img}}" alt="image" />
      <div class="userinfo">
        <ion-card-title>
          {{ user.name }}
        </ion-card-title>
        <ion-card-subtitle class="dark">
          {{ user.email }}
        </ion-card-subtitle>
        <ion-button size="small"  id="open-modal" expand="block">Edit Profile</ion-button>
      </div>
    </ion-card-header>
    <ion-modal #modal trigger="open-modal">
      <ng-template>
        <ion-content class="modal">
          <ion-toolbar>
            <ion-title>Modal</ion-title>
            <ion-buttons slot="end">
              <ion-button color="light" (click)="modal.dismiss()">Close</ion-button>
            </ion-buttons>
          </ion-toolbar>
          <ion-list>
            <ion-item>
              <ion-avatar slot="start">
                <ion-img src="https://i.pravatar.cc/300?u=b"></ion-img>
              </ion-avatar>
              <ion-label>
                <h2>Connor Smith</h2>
                <p>Sales Rep</p>
              </ion-label>
            </ion-item>
            <ion-item>
              <ion-avatar slot="start">
                <ion-img src="https://i.pravatar.cc/300?u=a"></ion-img>
              </ion-avatar>
              <ion-label>
                <h2>Daniel Smith</h2>
                <p>Product Designer</p>
              </ion-label>
            </ion-item>
            <ion-item>
              <ion-avatar slot="start">
                <ion-img src="https://i.pravatar.cc/300?u=d"></ion-img>
              </ion-avatar>
              <ion-label>
                <h2>Greg Smith</h2>
                <p>Director of Operations</p>
              </ion-label>
            </ion-item>
            <ion-item>
              <ion-avatar slot="start">
                <ion-img src="https://i.pravatar.cc/300?u=e"></ion-img>
              </ion-avatar>
              <ion-label>
                <h2>Zoey Smith</h2>
                <p>CEO</p>
              </ion-label>
            </ion-item>
          </ion-list>
        </ion-content>
      </ng-template>
    </ion-modal>
    <ion-card-content>

    </ion-card-content>
  </ion-card>
</div>