<div class="item" *ngIf="authService.loginStatus === 1">
  <ion-card *ngIf="user">
    <ion-card-header>

      <img *ngIf="user.profile_img" class="image" src="http://localhost:4000/images/{{user.profile_img}}" alt="image" />
      <img *ngIf="!user.profile_img" class="image" src="../../assets/icon/imgplaceholder.png" alt="image" />
      <div class="userinfo">
        <ion-card-title>
          {{ user.name }}
        </ion-card-title>
        <ion-card-subtitle class="dark">
          {{ user.email }}
        </ion-card-subtitle>

        <ion-button size="small" id="open-modal" (click)="refreshModal()">Edit Profile</ion-button>
      </div>
    </ion-card-header>
    <ion-modal #modal trigger="open-modal">
      <ng-template>
        <ion-content class="modal">
          <ion-grid>
            <ion-row>
              <ion-col class="modalimage">
                <ion-img class="image" *ngIf="capturedPhoto" [src]="capturedPhoto" (click)="takePhoto()"></ion-img>
                <ion-img class="image" *ngIf="(!capturedPhoto) && (user.profile_img)" src="http://localhost:4000/images/{{user.profile_img}}"
                  (click)="takePhoto()"></ion-img>
                  <ion-img class="image" *ngIf="(!capturedPhoto) && (!user.profile_img)" src="../../assets/icon/imgplaceholder.png"
                  (click)="takePhoto()"></ion-img>
              </ion-col>
              <ion-col position="absolute">
                <ion-row>
                  <ion-button expand="block" class="modalbutton" color="black" (click)="takePhoto()">
                    <ion-icon slot="start" name="camera-outline"></ion-icon>
                    Take
                  </ion-button>
                </ion-row>
                <ion-row>
                  <ion-button expand="block" class="modalbutton" color="black" (click)="pickImage()">
                    <ion-icon expand="block" slot="start" name="image-outline"></ion-icon>
                    Upload
                  </ion-button>
                </ion-row>
                <ion-row>
                  <ion-button expand="block" class="modalbutton" color="black" (click)="discardImage()">
                    <ion-icon slot="start" name="aperture"></ion-icon>
                    Discard
                  </ion-button>
                </ion-row>
              </ion-col>
            </ion-row>
          </ion-grid>
          <form [formGroup]="ionicForm" (ngSubmit)="onSubmit()" novalidate>
            <ion-grid>
              <ion-row color="black" class="ion-justify-content-center">
                <ion-col class="align-self-center">
                  <div padding>
                    <span class="error ion-padding" *ngIf="isSubmitted && errorControl.name.errors?.required">
                      Name is required.
                    </span>
                    <span class="error ion-padding" *ngIf="isSubmitted && errorControl.name.errors?.minlength">
                      Name should be min 2 chars long.
                    </span>
                    <ion-item>
                      <ion-input formControlName="name" name="name" type="text" placeholder="Name"></ion-input>
                    </ion-item>
                    <span class="error ion-padding" *ngIf="isSubmitted && errorControl.email.errors?.required">
                      Email is required.
                    </span>
                    <span class="error ion-padding" *ngIf="isSubmitted && errorControl.email.errors?.pattern">
                      Please provide a valid email.
                    </span>
                    <ion-item>
                      <ion-input formControlName="email" name="email" type="text" placeholder="Email" 
                        required></ion-input>
                    </ion-item>
                    <span class="error ion-padding" *ngIf="isSubmitted && errorControl.password.errors?.required">
                      Password is required.
                    </span>
                    <span class="error ion-padding" *ngIf="isSubmitted && errorControl.password.errors?.minlength">
                      Password should be min 4 chars long.
                    </span>
                    <ion-item>
                      <ion-input class="lastitem" formControlName="password" name="password" type="password"
                        placeholder="Password" required></ion-input>
                    </ion-item>
                    <!-- <ion-item>
                          <ion-input name="confirm" type="password" placeholder="Password again" ngModel required></ion-input>
                        </ion-item> -->
                  </div>
                </ion-col>
              </ion-row>
            </ion-grid>
            <div padding class="modalsubmit">

              <ion-button size="large" class="modalsubmitbutton" color="black" type="submit" (click)="modal.dismiss()" (click)="onDeleteClick()" >
                Delete
              </ion-button>
  
  
              <ion-button size="large" class="modalsubmitbutton" color="black" type="submit" (click)="modal.dismiss()" (click)="onUpdateClick()" >
                Update
              </ion-button>
  
            </div>
          </form>


        </ion-content>
      </ng-template>
    </ion-modal>
    <ion-card-content class="chart">
      <div class="chart">
        <ion-text>
          <h1>Score history</h1>
          <h2>Highest score: {{highestScore}}</h2>
        </ion-text>
        <canvas height="250px" baseChart [data]="barChartData" [options]="barChartOptions" [plugins]="barChartPlugins"
          [type]="barChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)">
      

      </canvas>
    </div>
      <!-- <ion-button size="small" (click)="randomize()">Update</ion-button> -->
    </ion-card-content>
  </ion-card>
</div>