ion-grid{
  color: #B50C0C !important;
}

ion-content{
  --color: rgb(255, 255, 255);
  --padding-top:100px;
}

ion-item{
  --background: #ffffff;
  --color: rgb(0, 0, 0);
  padding-bottom:25px;
}

ion-button{
  --background: #960000;
  white-space: unset;
  margin: auto;
  // font-size: 3vw;
  max-width: 400px;
  max-height: 900px;
}

.buttons{
  padding-bottom:25px;
  max-width: 400px;
  max-height: 900px;
  margin: auto;
  margin-top: 1%;
}

a{
  color: rgb(0, 12, 141);
}

.error{
  color: red;
  --margin-bottom:25px;
}