ion-content{
    --color: rgb(0, 0, 0);
    --background: #e8e8e8;
}

ion-item{
    --background: #272727;
    --color: #fff;
}

ion-button{
    --background: #050505;
}

a{
    color: rgb(0, 12, 141);
}